@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Space Mono", monospace;
  background: #c5e4e7;
  gap: 40px;
  overflow-x: hidden;
}

header {
  padding-top: 50px;
  margin: auto;
}
.logo {
}
main {
  width: 375px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 0px 0px;
  background: #fff;
  box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.2);
  margin-top: 40px;
}
.bill-input-div {
  display: flex;
  flex-direction: column;
  color: #5e7a7d;
  font-size: 1rem;
  outline: none;
}

#bill-input {
  font-family: Space Mono;
  width: 311px;
  height: 48px;
  border-radius: 5px;
  background: #f3f9fa;
  background-image: url("./images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  color: #00474b;
  text-align: right;
  font-size: 1.5rem;
  outline: none;
}
#bill-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.select-tip-div {
  margin-top: 32px;
  color: #5e7a7d;
  font-size: 1rem;
}
.buttons-div {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.tip-btns {
  border: none;
  width: 146.631px;
  height: 48px;
  border-radius: 5px;
  background: #00474b;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-family: Space Mono;
}
.tip-btns:hover {
  border-radius: 5px;
  background: #26c2ae;
  cursor: pointer;
}
.custom-input {
  color: #547878;
  text-align: center;
  font-size: 1.5rem;
  width: 147.814px;
  height: 48px;
  border-radius: 5px;
  background: #f3f9fa;
  font-family: Space Mono;
  outline: none;
  border: none;
}
.number-people-div {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.number-people {
  color: #5e7a7d;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}
#people {
  width: 311px;
  height: 48px;
  border-radius: 5px;
  background: #f3f9fa;
  outline: none;
  background-image: url("./images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  color: #00474b;
  text-align: right;
  font-size: 1.5rem;
  font-family: Space Mono;
}
.result-div {
  width: 327px;
  margin-top: 32px;
  border-radius: 15px;
  background: #00474b;
  padding: 24px;
}
.amount {
  color: #fff;
  font-size: 1rem;
}
.tip-amount-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tip-amount-txt {
  color: #26c2ae;
  font-size: 2rem;
  letter-spacing: -0.667px;
}

.person {
  color: #7f9d9f;
  font-size: 0.8rem;
}
.total-person {
  color: #fff;
  font-size: 1rem;
}
span {
  color: #7f9d9f;
  font-size: 0.8rem;
}

.total-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}
#total-amount {
  color: #26c2ae;
  text-align: right;
  font-size: 2rem;
  letter-spacing: -0.667px;
}
#reset-btn {
  width: 281px;
  height: 48px;
  border-radius: 5px;
  background: #26c2ae;
  color: #00474b;
  text-align: center;
  font-size: 1.25rem;
  font-family: Space Mono;
  border: none;
  margin-top: 33px;
}
#reset-btn:hover {
  border-radius: 5px;
  background: #9fe8df;
}
#validation {
  color: #e17457;
  text-align: right;
  font-size: 1rem;
}
footer {
  color: #26c2ae;
  font-size: 1.1rem;
}
a {
  color: #00474b;
}

/* ----------------------------- Desktop Version -----------------------*/
@media screen and (min-width: 1440px) {
  body {
  }

  header {
    padding-top: 163px;
  }

  main {
    width: 920px;
    padding: 48px;
    flex-direction: row;
    gap: 48px;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.2);
  }

  #bill-input {
    width: 379px;
    background-image: url("./images/icon-dollar.svg");
  }
  #bill-input:hover {
    border-radius: 5px;
    border: 2px solid #26c2ae;
    background: #f3f9fa;
  }
  .select-tip-div {
    margin-top: 40px;
  }
  .buttons-div {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .tip-btns {
    width: 117px;
    border-radius: 5px;
    background: #00474b;
    border: none;
  }
  .tip-btns:hover {
    background: #26c2ae;
  }
  .custom-input {
    color: #00474b;
    text-align: center;
    width: 118px;
    border-radius: 5px;
  }
  .custom-input:hover {
    border-radius: 5px;
    border: 2px solid #26c2ae;
    background: #f3f9fa;
  }
  .number-people-div {
    margin-top: 40px;
  }

  #people {
    width: 379px;
    background-image: url("./images/icon-person.svg");
    background-repeat: no-repeat;
  }
  .result-div {
    width: 413px;
    padding: 40px;
  }

  .tip-amount-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  #tip-amount-txt {
    font-size: 3rem;
    letter-spacing: -1px;
  }

  .total-div {
    margin-top: 25px;
  }
  #total-amount {
    font-size: 3rem;
    letter-spacing: -1px;
  }
  #reset-btn {
    width: 333px;
    margin-top: 122px;
  }
}
